
.menuDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    border: 3px solid #73AD21;
    text-align: center;
}
.leftDiv{
    position: fixed;
    top: 5%;
    left: 0;
    width: 10%;
    height: 95%;
    border: 3px solid #73AD21;
    text-align: center;
}
.midDiv{
    position: fixed;
    top: 5%;
    left: 10%;
    width: 90%;
    height: 95%;
    border: 3px solid #73AD21;
    text-align: center;
}
#divLeft{
    float: left;
}
body {
    background-image: url('Images/test.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}