
.topDiv{
    position: fixed;
    top: 0;
    left: 10%;
    width: 100%;
    height: 5%;
    border: 1px solid #73AD21;
    background-color:blue;
    text-align: center;
}
.topLeftDiv{
    position: fixed;
    top: 0;
    left: 0%;
    width: 10%;
    height: 5%;
    border: 1px solid #73AD21;
    background-color:rgb(255, 0, 200);
    text-align: center;
}
.leftDiv{
    position: fixed;
    top: 5%;
    left: 0;
    width: 10%;
    height: 95%;
    border: 1px solid #73AD21;
    background-color:rgb(0, 255, 13);
    text-align: center;
}
.leftSubDiv{
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    height: 10%;
    border: 1px solid #73AD21;
    background-color:rgb(251, 255, 0);
    text-align: center;
}
.midDiv{
    position: fixed;
    top: 5%;
    left: 10%;
    width: 90%;
    height: 95%;
    border: 1px solid #73AD21;
    background-color:rgb(255, 51, 0);
    text-align: center;
}
#divLeft{
    float: left;
}
body {
    background-image: url('Images/test.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}